* {
    outline: 1px solid #2E8B57;
}


/* {header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header.on {
    background: hsla(0, 0%, 100%, .9);
    border-bottom: 1px solid #e5e5e5;
    backdrop-filter: blur(5px);
}

.header .inner {
    width: 1200px;
    margin: 0 auto;

    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 120px;
}

.header_logo img {
    max-width: 100%;
    margin: 3px 0 0 0;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .gnb>ul>li {
    font-size: 16px;
    line-height: 45px;
}

.header .gnb>ul>li~li::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    transform: translate(-15px, 0);
    background: #ddd;
}

.header .plus {
    display: flex;
    gap: 30px;
}

.header .plus i {
    position: relative;
    font-size: 30px;
    line-height: 45px;
}

.header .plus i~i::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 12px;
    background: #ddd;
    top: 50%;
    left: -15px;
    transform: translate(-50%, -50%);
}

/*  */

.header .inner .gnb .lnb {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    background: #f6f3f2;
}

.header .inner .gnb .lnb .lnb_inner {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.header .inner .gnb .lnb_inner .top {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.header .inner .gnb .lnb_inner .top .left {
    width: 300px;
    border-right: 1px solid #ddd;
}

.header .inner .gnb .lnb_inner .top .left ul {
    display: flex;
    flex-direction: column;

}

.header .inner .gnb .lnb_inner .top .right {
    padding: 30px;
}

.header .inner .gnb .lnb_inner .top .right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .inner .gnb .lnb_inner .top .right li {
    flex-wrap: wrap;
}

.header .inner .gnb .lnb_inner .top .right img {
    width: 200px;
}

.header .inner .gnb .lnb_inner .top .right span {
    display: block;
}

.header .inner .gnb .lnb_inner .bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}



.header .inner .gnb .lnb_inner .bottom img {
    width: 200px;
}

.header .inner .gnb .lnb_inner .bottom .itm {
    display: flex;
}

.header .inner .gnb .lnb_inner .bottom .itm .info {
    margin: 0 0 0 10px;
}

.header .inner .gnb .lnb::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    background: tomato;
}

.header .inner .gnb .lnb {
    display: none;
}

.header .inner .gnb>ul>li:hover .lnb {
    display: block;
}


/* header}*/

/* {mainVisual */

.mainSlide {
    height: 100vh;
    position: relative;
    background: url(../img/car-bg.jpg) no-repeat center center/cover;
}

.mainSlide::after {
    position: absolute;
    content: "SCROLL DOWN";
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainSlide::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 40px;
    background: #666;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;
}

.mainSlide figure {
    height: 950px;
    position: relative;
}

.mainSlide .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    margin: 0 auto;
}

.mainSlide .inner span {
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.mainSlide .inner p {
    font-size: 20px;
}

.mainSlide .right {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
}

.mainSlide .left {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%);
}

.mainSlide figure img {
    width: 100%;
    transform: translate(1000px, 0);
    opacity: 0;
}

.mainSlide figure.on img {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 1s;
}

.mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 위에서 하면 안 먹기 때문에 밑으로 다시 써주기 */
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;

    font-size: 0;

    width: 50px;
    height: 50px;

    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.5);

    display: none;
}

.mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ddd;
    margin: 0 5px;
    border-radius: 50%;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #007fa8;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

/* mainVisual} */

/* {mainProduct */
.main_product .inner {
    width: 1200px;
    margin: auto;
}

.main_product .inner .intro {
    text-align: center;
}

.main_product .inner .intro span {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.main_product .inner .intro p {
    margin: 0 0 75px 0;
}

.main_product .inner .desc {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main_product .inner .desc .left {
    width: 550px;
}

.main_product .inner .desc .right {
    width: 550px;
}

.main_product .inner .desc img {
    width: 100%;
}

.main_product .inner .right ul {
    color: #666;
    display: flex;
    gap: 30px;
}

.main_product .inner .blue {
    color: #007fa8;
}

.main_product .inner .right li {
    position: relative;
}

.main_product .inner .right li~li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 12px;
    background: #ddd;
    top: 50%;
    left: -15px;
    transform: translate(-50%, -50%);
}

.main_product .inner .right span {
    position: absolute;
    top: 50px;
    font-size: 40px;
    font-weight: 700;
}

.main_product .inner .remainder {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 30px;
}

.main_product .inner .remainder img {
    margin: 0 0 30px 0;
}

.main_product .inner .remainder p {
    font-size: 20px;
    font-weight: 700;
}

/* mainProduct} */

/* {mainIntroduce */
.main_introduce .inner {
    width: 1200px;
    margin: auto;
}

.main_introduce .inner .intro {
    text-align: center;
}

.main_introduce .inner .intro span {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.main_introduce .inner .intro p {
    margin: 0 0 75px 0;
}

.main_introduce .inner .banner {
    display: flex;
    justify-content: space-between;
    background: #f7f3f2;
}

.main_introduce .inner .banner figure {
    width: 600px;
    height: 412px;
}

.main_introduce .inner .banner img {
    width: 100%;
    height: 100%;
}

.main_introduce .inner .banner .info {
    position: relative;
    width: 550px;
    margin: 50px;
}

.main_introduce .inner .banner .new {
    display: inline-block;
    background: #007fa8;
    color: #fff;
    padding: 4px 5px;
    font-size: 11px;
    text-align: center;

    margin: 0 0 10px 0;
}

.main_introduce .inner .banner .info .car_name {
    font-size: 40px;
    font-weight: 700;

    margin: 0 0 15px 0;
}

.main_introduce .inner .banner .info .car_txt {
    margin: 0 0 40px 0;
}

.main_introduce .inner .banner .info a {
    background: #002c5f;
    color: #fff;
    padding: 5px 20px;
}


.main_introduce .inner .banner .info figure {
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 0;
    right: 0;
}

/* mainIntroduce} */

/* {mainApp */
.main_app .inner {
    width: 1200px;
    margin: auto;
}

.main_app .apps {
    display: flex;
    justify-content: space-between;
}

.main_app .app_desc {
    background: #f6f3f2;
    width: 350px;
    height: 440px;
    padding: 32px 40px;
}

.main_app .app_desc span {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    margin: 0 0 20px 0;
}

.main_app .app_desc p {
    line-height: 1.5;
    margin: 0 0 40px 0;
}

.main_app .app_desc a {
    color: #002c5f;
    font-weight: 700;
}

.main_app .app_desc .desc_inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_app .app_desc figure {
    margin-top: auto;
    margin-left: auto;
}

.main_app .inner .intro {
    text-align: center;
}

.main_app .inner .intro span {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.main_app .inner .intro p {
    line-height: 1.5;
    margin: 0 0 75px 0;
}

.main_app .app_slide figure {
    width: 400px;
    height: 440px;
}

.main_app .app_slide .itm01 {
    background: url(../img/p04_01.jpg) no-repeat bottom center/contain;
}

.main_app .app_slide .itm02 {
    background: url(../img/p04_02.jpg) no-repeat bottom center/contain;
}

.main_app .app_slide .itm03 {
    background: url(../img/p04_03.jpg) no-repeat bottom center/contain;
}

.main_app .app_slide .itm04 {
    background: url(../img/p04_04.jpg) no-repeat bottom center/contain;
}

.main_app .app_slide .slide_inner {
    padding: 32px 0 0 40px;
}

.main_app .app_slide span {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    margin: 0 0 20px 0;
}

.main_app .app_slide p {
    margin: 0 0 40px 0;
}

.main_app .app_slide a {
    color: #002c5f;
    font-weight: 700;
}

.main_app .app_slide {
    width: 800px;
}

.main_app .app_slide figure {
    position: relative;
}

.main_app .app_slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 위에서 하면 안 먹기 때문에 밑으로 다시 써주기 */
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;

    font-size: 0;
    background-color: rgba(31, 45, 61, .4);
    width: 44px;
    height: 44px;
}

.main_app .app_slide .slick-prev::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background: #fff;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    z-index: 999;
}

.main_app .app_slide .slick-prev::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background: #fff;

    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);

    z-index: 999;
}

.main_app .app_slide .slick-next::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background: #fff;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);

    z-index: 999;
}

.main_app .app_slide .slick-next::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background: #fff;

    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    z-index: 999;
}

.main_app .app_slide .slick-prev {
    transform: translate(-50%, -50%);
    margin: 0 0 0 -378px;
}

.main_app .app_slide .slick-next {
    transform: translate(-50%, -50%);
    margin: 0 0 0 378px;
}

/* mainApp} */

/* {mainAd */
.main_ad .inner {
    width: 1200px;
    margin: auto;
    padding: 150px 0;
}

.main_ad .inner {
    text-align: center;
}

.main_ad .inner span {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.main_ad .inner .insta {
    display: flex;
    justify-content: space-between;
}

.main_ad .inner .insta figure {
    position: relative;
}

.main_ad .inner .insta img {
    width: 350px;
}

.main_ad .inner .insta .box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;

    opacity: 0;
    transition: 0.3s;

    font-size: 20px;

}

.main_ad .inner .insta .box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_ad .inner .insta figure:hover .box {
    opacity: 1;
}

/* mainAd} */

/* {footer */
.footer {
    color: #999;
    background: #1c1b1b;
}

.footer .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.footer .inner .top {
    position: relative;
    display: flex;
    border-bottom: 1px solid #999;
    justify-content: space-between;
    padding: 0 0 50px 0;
}

.footer .inner .f_list {
    position: absolute;
    top: 0;
    left: 150px;

}

.footer .inner .top .f_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .inner .top .sns {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    font-size: 35px;
    margin: 0 0 20px 0;
}

.footer .inner .top .f_right .link {
    margin: 0 0 0 auto;
}

.footer .inner .top ul {
    display: flex;
    gap: 30px;

}

.footer .inner .top li {
    padding: 10px 0 0 0;
}

.footer .inner .top li {
    position: relative;
}

.footer .inner .top li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, 0);
    width: 1px;
    height: 12px;
    background: #999;
}

.footer .inner .bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
    font-size: 12px;
}

/* footer} */